%title {
  font-family: "Roboto Slab", serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: $mainText;
}
%subtitle {
  font-family: "Roboto", serif;
  font-size: 1.8rem;
  font-weight: 400;
}
%text {
  font-family: "Roboto", serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $grey;
}
