.card-item {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: $boxShadow;
  & > :not(:last-child) {
    margin: 0 0 1.5rem 0;
  }
  &__image {
    position: relative;
    padding: 0 0 55% 0;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__title {
    @extend %title;
    line-height: 1.2;
  }
  &__subtitle {
    @extend %subtitle;
    line-height: 1.4;
  }
  &__source {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: auto;
  }
  &__time {
    @extend %text;
  }
  &__name {
    @extend %text;
  }
}
